{
  "name": "com.onionrouter.companion",
  "description": "OnionRouter Tor management companion",
  "path": "{{COMPANION_PATH}}",
  "type": "stdio",
  "allowed_extensions": ["onionrouter@louis-courrian.dev"]
}
